@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap');

// $darkblue:darkblue;
$black: black;
$white:white;
$grey:#949292;
$darkgreen:#0f321c;

$olive:#78b604;
$wheat: wheat;